.resetpassword-screen {
  z-index: 10000;
  background-color: rgb(48, 48, 48);
  height: 500px;
  width: 100%;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/ae/73/0e/ae730ebe3d49ee66a7ef24d035f2e919.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 1));
  }
  .resetpassword-screen__form {
    position: relative;
    width: 550px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.116);
    border: 1px solid rgb(94, 94, 94);
    border-radius: 3px;
    padding: 1.5rem;
    text-align: center;
    
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    h2 {
      color: var(--main-color);
      font-size: 72px;
    }
    .resetpassword-screen__title {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 45px;
      color: #f5f6f7;
      text-shadow: 1px 2px #000;
    }
    .form-group {
      label {
        display: block;
        text-align: left;
        font-size: 20px;
        font-family: Poppins;
        margin-top: 20px;
        margin-left: 32px;
        color: #f5f6f7;
      }
      input {
        display: block;
        width: 440px;
        height: 50px;
        margin: 10px auto;
        padding: 0 20px;
        font-size: 20px;
        font-family: Poppins;
        border-radius: 2px;
        border: 1px solid rgb(70, 70, 70);
        margin-bottom: 20px;
        &::placeholder {
          font-size: 14px;
          letter-spacing: 1px;
        }
        &:focus {
          outline:none;
          border-color:#9ecaed;
          box-shadow:0 0 10px #9ecaed;
          transition: box-shadow ease-out .2s;
        }
      }
    }
    .btn,
    .btn-primary {
      background-color: var(--main-color);
      width: 440px;
      height: 50px;
      border-radius: 6px;
      font-weight: bold;
      font-family: Arial;
      font-size: 20px;
      text-transform: uppercase;
      margin: 10px 0;
      cursor: pointer;
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 var(--main-color);
        }
      }
      &:hover,
      &:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 1em rgba(#fff, 0);
      }
    }
  }
}
