.stream {
    padding: 60px 0;
    color: #000;
    background-color: #fff;
    text-align: center;
    h1 {
        font-size: 72px;
        font-weight: 500;
        padding-bottom: 60px;
    }
    p {
        font-size: 32px;
        line-height: 1.5;
        padding-bottom: 30px;
    }
}