.result-container {
    margin-right: 29px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    max-height: 200px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    .container{
      flex: 1;
        align-items: center;
        margin-top: 10px;
        margin-left: 20px;
        .listTitle {
            font-weight: 500;
        }
        .details {
            margin-top: 8px;
            display: flex;
            .year {
              font-size: 15px;
              color: #707070;
            }
          }
    }
    .wrap-img {
      flex: 1;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: all .4s ease-in-out;
      }
      .play-btn-outer {
          z-index: 1;
          display: none;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: rgba(136, 136, 136, 0.5);
          border: 1px solid var(--main-color);
          transition: all .3s ease-in-out;
          &:hover {
            background-color: rgba(136, 136, 136, 0.8);
            width: 70px;
            height: 70px;
          }
          .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);     
            width: 20px;
            height: 20px ;
            border: 10px solid transparent;
            border-left: 20px solid var(--main-color);
            border-right: none;
          }
      }
      
  }
  &:hover {
      .play-btn-outer {
          display: block;
      }
      img {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
  }

}
  

  