#top-bar {
  &.full {
    width: 100%;
  }
  z-index: 999;
  background-color: #161616;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 100px);
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 30px;
    color: white;
  }
  h1 {
    color: var(--main-color);
  }
  .left {
    display: flex;
    margin-left: 10px;
    font-weight: 500;
    textarea {
      height: 10px;
    }
    .boxContainer {
      position: relative;

      .genreBox,
      .yearBox {
        display: flex;
        align-items: center;
        border: 2px var(--main-color) solid;
        border-radius: 5px;
        padding: 8px 6px 8px 12px;
        margin: 0px 20px;
        span {
          margin-right: 30px;
        }
      }
      .genreSelect {
        width: 390px;
      }
      .genreSelect,
      .yearSelect {
        display: flex;
        background-color: #1e1e1e;
        position: absolute;
        padding: 15px;
        top: 60px;
        left: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 1.8;
        max-height: 250px;
        border-radius: 5px;
        input {
          width: 100px;
          border: 1px solid #707070;
          background-color: transparent;
          border-radius: 3px;
          color: white;
          font-family: Poppins;
          font-weight: 500;
          font-size: 16px;
          padding: 10px;
        }
        .genre {
          cursor: pointer;
          max-width: 130px;
          &:hover {
            color: var(--main-color);
          }
        }

        .yearSelect {
          width: 120px;
        }
      }
    }
  }
  .middle {
    form {
      display: flex;
      height: 45px;
      border-radius: 5px;
      overflow: hidden;
      input {
        width: 600px;
        background-color: #303030;
        border: none;
        padding: 15px;
        color: #9fb3c8;
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        outline: none;
      }
      ::placeholder {
        font-weight: 400;
        color: #9fb3c8;
      }
      .searchIcon {
        height: 100%;
        width: 45px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: var(--main-color);
        line-height: 10px;
      }
    }
    .results {
      display: flex;
      background-color: #1e1e1e;
      position: absolute;
      // padding: 15px;
      margin-top: 25px;
      top: 60px;
      flex-direction: column;
      flex-wrap: nowrap;
      line-height: 1.8;
      max-height: 500px;
      width: 600px;
      border-radius: 5px;
      overflow-x: hidden;
      overflow-y: scroll;
      list-style-type: none;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0px 20px;
    }
    .profile {
      cursor: pointer;
      margin-right: 25px;
      display: flex;
      align-items: center;
      position: relative;
      .main-profile {
        display: flex;
        align-items: center;
      }
      .options {
        width: 350px;
        // min-height: 450px;
        position: absolute;
        top: 60px;
        right: 5px;
        border-radius: 2px;
        background-color: #1e1e1e;
        .otherUsers {
          border-bottom: solid 1px #707070;
          .user {
            height: 80px;
            display: flex;
            align-items: center;
          }
        }
        .menu {
          display: flex;
          flex-direction: column;
          span {
            height: 45px;
            padding: 10px;
            margin-left: 20px;
          }
          a {
            text-decoration: none;
            color: white;
            height: 45px;
            line-height: 45px;
          }
        }
      }
    }
  }
}
