#nav {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: black;

  a {
    color: var(--main-text-color);
    text-decoration: none;
  }
  .nav-item {
    cursor: pointer;
    height: calc(100% / 8 - 1px);
    border-bottom: 1px #3c4f60 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--activated {
      @extend .nav-item;
      color: var(--main-color);
      background-color: #1E4A47;
      font-weight: 500;
    }
    .icon {
      margin-bottom: 5px;
    }

    .logo {
      color: var(--main-color);
      font-size: 35px;
      font-weight: 500;
      font-family: Bebas;
    }
  }
}
