.list {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
  max-height: 290px;
  z-index: 1000;
  .listTitle {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 500;
    svg {
      font-size:30px;
      color: red;
    }
  }
  .wrapper {
    margin-top: 15px;
  }
  .icon {
    z-index: 99;
    background-color: #232323;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightArrow {
    position: absolute;
    right: 50px;
    top: -45px;
  }
  .leftArrow {
    position: absolute;
    right: 100px;
    top: -45px;
  }
}
