.movies {
  .main-title {
    font-size: 60px;
    font-weight: 600;
    margin: 20px 50px;
  }
}
.filter-list{
  .listTitle {
    font-size: 60px;
    font-weight: 600;
    margin: 20px 50px;
  }
  .movie-wrapper{
      width: 100%;
      margin-top: 15px;
      overflow: hidden;
      margin-left: 25px;
      display: flex;
      .container{
        justify-content: center;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 10px;
          .item{
            margin: 0px;
          }
      }
  }
}
