.overview {
    // max-width: 100%;
    color: rgba(209, 213, 219, 1);

    h1 {
        color: white;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .episode-name {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
    }
}