.listCard {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 2px black;
  margin: 20px 50px;
  justify-content: space-between;
  .listCard-info {
    display: flex;
    align-items: center;
    img {
      width: 250px;
    }
    .listCard-title {
      margin-left: 20px;
    }
  }
}
.disabledListItem {
  display: none;
}
