.MovieListItem {
  margin-right: 29px;
  cursor: pointer;
  max-width: 250px;

  img {
    height: 100%;
    overflow: hidden;
    max-height: 140.5px;
    width: 100%;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .title {
      font-weight: 500;
      margin-top: 10px;
    }
  }
  .details {
    margin-top: 8px;

    display: flex;
    .year {
      font-size: 15px;
      color: #707070;
    }
  }
}
